<div class="dropdown" data-controller="dropdown">
  <button
    class="dropdown__btn"
    aria-expanded=false
    data-action="click->dropdown#toggleOpen"
  >
    <%= "Impact 🌿" %>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      width="10"
      height="10"
      viewBox="0 0 256 256"
      xml:space="preserve"
    >
      <defs>
      </defs>
      <g
        style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
        transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
      >
        <path
          d="M 58.799 58.33 L 16.466 15.998 c -1.059 -1.059 -2.776 -1.059 -3.835 0 L 0.794 27.834 c -1.059 1.059 -1.059 2.776 0 3.835 l 42.333 42.333 c 1.059 1.059 2.776 1.059 3.835 0 l 11.837 -11.837 C 59.858 61.107 59.858 59.39 58.799 58.33 z"
          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
          transform=" matrix(1 0 0 1 0 0) "
          stroke-linecap="round"
        />
        <path
          d="M 31.201 58.33 l 42.333 -42.333 c 1.059 -1.059 2.776 -1.059 3.835 0 l 11.837 11.837 c 1.059 1.059 1.059 2.776 0 3.835 L 46.873 74.002 c -1.059 1.059 -2.776 1.059 -3.835 0 L 31.201 62.166 C 30.142 61.107 30.142 59.39 31.201 58.33 z"
          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
          transform=" matrix(1 0 0 1 0 0) "
          stroke-linecap="round"
        />
      </g>
    </svg>
  </button>

  <div class="dropdown__list-container" data-dropdown-target="list">
    <ul class="dropdown__list dropdown__list-checkboxes">
      <fieldset>
        <%= link_to request.query_parameters.except(:impact),
          class: "filter-form__reset-link #{"active" unless params[:impact].present?}"  do %>
          All 🌿
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "impact_low", class: 'filter-form__input-container' do %>
          Low impact
          <%= check_box_tag "impact[]",
          "low",
          params[:impact]&.include?("low"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "impact_low",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "impact_medium", class: 'filter-form__input-container' do %>
          Medium impact
          <%= check_box_tag "impact[]",
          "medium",
          params[:impact]&.include?("medium"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "impact_medium",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "impact_high", class: 'filter-form__input-container' do %>
          High impact
          <%= check_box_tag "impact[]",
          "high",
          params[:impact]&.include?("high"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "impact_high",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
      </fieldset>
    </ul>
  </div>
</div>

<div class="dropdown" data-controller="dropdown">
  <button
    class="dropdown__btn"
    aria-expanded=false
    data-action="click->dropdown#toggleOpen"
  >
    <%= "Effort 🦾" %>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      width="10"
      height="10"
      viewBox="0 0 256 256"
      xml:space="preserve"
    >
      <defs>
      </defs>
      <g
        style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
        transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
      >
        <path
          d="M 58.799 58.33 L 16.466 15.998 c -1.059 -1.059 -2.776 -1.059 -3.835 0 L 0.794 27.834 c -1.059 1.059 -1.059 2.776 0 3.835 l 42.333 42.333 c 1.059 1.059 2.776 1.059 3.835 0 l 11.837 -11.837 C 59.858 61.107 59.858 59.39 58.799 58.33 z"
          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
          transform=" matrix(1 0 0 1 0 0) "
          stroke-linecap="round"
        />
        <path
          d="M 31.201 58.33 l 42.333 -42.333 c 1.059 -1.059 2.776 -1.059 3.835 0 l 11.837 11.837 c 1.059 1.059 1.059 2.776 0 3.835 L 46.873 74.002 c -1.059 1.059 -2.776 1.059 -3.835 0 L 31.201 62.166 C 30.142 61.107 30.142 59.39 31.201 58.33 z"
          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
          transform=" matrix(1 0 0 1 0 0) "
          stroke-linecap="round"
        />
      </g>
    </svg>
  </button>
  <div class="dropdown__list-container" data-dropdown-target="list">
    <ul class="dropdown__list dropdown__list-checkboxes">
      <fieldset>
        <%= link_to request.parameters.except(:effort),
            class: "filter-form__reset-link #{"active" unless params[:effort].present?}" do %>
          All 🦾
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "effort_low", class: 'filter-form__input-container' do %>
          Low effort
          <%= check_box_tag "effort[]",
          "low",
          params[:effort]&.include?("low"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "effort_low",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "effort_medium", class: 'filter-form__input-container' do %>
          Medium effort
          <%= check_box_tag "effort[]",
          "medium",
          params[:effort]&.include?("medium"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "effort_medium",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "effort_high", class: 'filter-form__input-container' do %>
          High effort
          <%= check_box_tag "effort[]",
          "high",
          params[:effort]&.include?("high"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "effort_high",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
      </fieldset>
    </ul>
  </div>
</div>

<div class="dropdown" data-controller="dropdown">
  <button
    class="dropdown__btn"
    aria-expanded=false
    data-action="click->dropdown#toggleOpen"
  >
    <%= "Category 👩🏼‍💻" %>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      width="10"
      height="10"
      viewBox="0 0 256 256"
      xml:space="preserve"
    >
      <defs>
      </defs>
      <g
        style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
        transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
      >
        <path
          d="M 58.799 58.33 L 16.466 15.998 c -1.059 -1.059 -2.776 -1.059 -3.835 0 L 0.794 27.834 c -1.059 1.059 -1.059 2.776 0 3.835 l 42.333 42.333 c 1.059 1.059 2.776 1.059 3.835 0 l 11.837 -11.837 C 59.858 61.107 59.858 59.39 58.799 58.33 z"
          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
          transform=" matrix(1 0 0 1 0 0) "
          stroke-linecap="round"
        />
        <path
          d="M 31.201 58.33 l 42.333 -42.333 c 1.059 -1.059 2.776 -1.059 3.835 0 l 11.837 11.837 c 1.059 1.059 1.059 2.776 0 3.835 L 46.873 74.002 c -1.059 1.059 -2.776 1.059 -3.835 0 L 31.201 62.166 C 30.142 61.107 30.142 59.39 31.201 58.33 z"
          style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;"
          transform=" matrix(1 0 0 1 0 0) "
          stroke-linecap="round"
        />
      </g>
    </svg>
  </button>
  <div class="dropdown__list-container" data-dropdown-target="list">
    <ul class="dropdown__list dropdown__list-checkboxes">
      <fieldset>
        <%= link_to request.query_parameters.except(:category),
        class: "filter-form__reset-link #{"active" unless params[:category].present?}" do %>
          All categories
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "category_ux_design", class: 'filter-form__input-container' do %>
          UX 🧑‍🎨
          <%= check_box_tag "category[]",
          "ux_design",
          params[:category]&.include?("ux_design"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "category_ux_design",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "category_development", class: 'filter-form__input-container' do %>
          Development 👩‍💻
          <%= check_box_tag "category[]",
          "development",
          params[:category]&.include?("development"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "category_development",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
        <%= label_tag "category_hosting_and_infrastructure", class: 'filter-form__input-container' do %>
          Hosting & Infrastructure 👷
          <%= check_box_tag "category[]",
          "hosting_and_infrastructure",
          params[:effort]&.include?("hosting_and_infrastructure"),
          multiple: true,
          onchange: "this.form.requestSubmit()",
          id: "category_hosting_and_infrastructure",
          class: "filter-form__checkbox",
          data: {
            turbo_stream: ""
          } %>
          <span class="filter-form__checkmark"></span>
        <% end %>
      </fieldset>
    </ul>
  </div>
</div>


