<div class="card <%= card_class(guideline) %>">
  <details class="card__body">
    <summary class="card__title">
      <p><%= guideline.impact.capitalize %>
        impact 🌿</p>
      <h2><%= guideline.title %></h2>
    </summary>
    <div class="card__text">
      <p><%= guideline.description %></p>
      <details class="card__checklist">
        <summary class="card__checklist__title">Actions checklist</summary>
        <ul>
          <% guideline.criteria.each do |criterium| %>
            <li>
              <details class="card__checklist__item">
                <summary><%= criterium.title %></summary>
                <p><%= criterium.text %></p>
              </details>
            </li>
          <% end %>
        </ul>
      </details>
      <%= link_to guideline.link_url,
      target: "_blank",
      title: "Opens W3C page" do %>
        ☞
        <span class="link-underline text-bold">See on W3C</span>
      <% end %>
    </div>
  </details>
  <%= guideline_effort(guideline).html_safe %>
</div>
