<footer class="bg-dark">
  <div class="wrapper">
    <div class="flex-container">
      <ul class="unstyled-list footer__links">
        <li><%= link_to "Guidelines", guidelines_path, class: "nav-link" %></li>
        <li><%= link_to "About", about_path, class: "nav-link" %></li>
        <%# <li><%= link_to "Resources", "#", class: "nav-link"</li> %>
        <%# This will be changed to more tools  %>
        <li><%= link_to "Tools", tools_images_path, class: "nav-link" %></li>
      </ul>
      <div style="flex: 0.5;">
        <%= render "components/newsletter_sign_up_form" %>
      </div>
    </div>
  </div>
  <p class="text-center fadded">Made with 💚 by zhiva.tech</p>
</footer>
